# Projeto de Bases de Dados - Parte 2

### Grupo GG
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
<dl>

In [7]:
%reload_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%sql postgresql+psycopg://airline:airline@postgres/airline

Connecting and switching to connection 'postgresql+psycopg://airline:***@postgres/airline'

## 0. Carregamento da Base de Dados

Crie a base de dados “Aviacao” no PostgreSQL e execute os comandos para criação das tabelas desta base de dados apresentados no ficheiro “aviacao.sql”

## 1. Restrições de Integridade [3 valores]

Implemente na base de dados “Aviacao” as seguintes restrições de integridade, podendo recorrer a Triggers caso estritamente necessário:

(RI-1) Aquando do check-in (i.e. quando se define o assento em bilhete) a classe do bilhete tem de corresponder à classe do assento e o aviao do assento tem de corresponder ao aviao do voo

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION trg_checkin_bilhete()
RETURNS TRIGGER AS
$$
DECLARE
    v_assento       assento%ROWTYPE; 
    v_voo_no_serie  voo.no_serie%TYPE;
BEGIN
    /*
      Só queremos validar quando o usuário definir efetivamente um assento
      (isto é, ambos NEW.lugar e NEW.no_serie não podem ser NULL).
    */
    IF NEW.lugar IS NOT NULL AND NEW.no_serie IS NOT NULL THEN

        SELECT *
          INTO v_assento
          FROM assento
            WHERE lugar    = NEW.lugar
            AND no_serie = NEW.no_serie;

        IF NOT FOUND THEN
            RAISE EXCEPTION 'Assento % no aviao % nao existe.', NEW.lugar, NEW.no_serie;
        END IF;

        
        SELECT no_serie
          INTO v_voo_no_serie
          FROM voo
            WHERE id = NEW.voo_id;

        IF NOT FOUND THEN
            RAISE EXCEPTION 'Voo com id % nao foi encontrado.', NEW.voo_id;
        END IF;

        /* 
          1.3. Verifica se a classe do bilhete (NEW.prim_classe)
               corresponde à classe do assento (v_assento.prim_classe).
        */
        IF v_assento.prim_classe IS DISTINCT FROM NEW.prim_classe THEN
            RAISE EXCEPTION
                'Classe do bilhete (prim_classe = %) NAO corresponde à classe do assento (prim_classe = %).',
                NEW.prim_classe, v_assento.prim_classe;
        END IF;

        IF v_assento.no_serie IS DISTINCT FROM v_voo_no_serie THEN
            RAISE EXCEPTION
                'Aviao do assento (%) NAO corresponde ao aviao do voo (%).',
                v_assento.no_serie, v_voo_no_serie;
        END IF;
    END IF;

    RETURN NEW;
END;
$$
LANGUAGE plpgsql;

(RI-2) O número de bilhetes de cada classe vendidos para cada voo não pode exceder a capacidade (i.e., número de assentos) do avião para essa classe

In [ ]:
%%sql
CREATE OR REPLACE FUNCTION trg_limite_bilhetes_classe()
RETURNS TRIGGER AS
$$
DECLARE
    v_capacidade INTEGER;
    v_vendidos INTEGER;
    v_no_serie VARCHAR(80);
    v_prim_classe BOOLEAN;
BEGIN
    SELECT no_serie, prim_classe INTO v_no_serie, v_prim_classe
    FROM voo WHERE id = NEW.voo_id;

    SELECT COUNT(*) INTO v_capacidade
    FROM assento
    WHERE no_serie = v_no_serie AND prim_classe = v_prim_classe;

    SELECT COUNT(*) INTO v_vendidos
    FROM bilhete
    WHERE voo_id = NEW.voo_id AND prim_classe = v_prim_classe
        AND (id <> NEW.id OR NEW.id IS NULL);

    IF v_vendidos + 1 > v_capacidade THEN
        RAISE EXCEPTION 'Capacidade de bilhetes para a classe % do voo % excedida.', v_prim_classe, NEW.voo_id;
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

(RI-3) A hora da venda tem de ser anterior à hora de partida de todos os voos para os quais foram comprados bilhetes na venda

In [ ]:
%%sql
CREATE OR REPLACE FUNCTION trg_venda_hora()
RETURNS TRIGGER AS
$$
DECLARE
    v_hora_partida TIMESTAMP;
    v_hora_venda TIMESTAMP;
BEGIN
    -- Obter hora da venda
    SELECT hora INTO v_hora_venda FROM venda WHERE codigo_reserva = NEW.codigo_reserva;
    -- Obter hora de partida do voo
    SELECT hora_partida INTO v_hora_partida FROM voo WHERE id = NEW.voo_id;

    IF v_hora_venda >= v_hora_partida THEN 
        RAISE EXCEPTION 'Hora da venda (%s) não pode ser posterior ou igual à hora de partida do voo (%s).', v_hora_venda, v_hora_partida;
    END IF;

    RETURN NEW;

END;
$$ LANGUAGE plpgsql;

++
||
++
++

## 2. Preenchimento da Base de Dados [2 valores]

Preencha todas as tabelas da base de dados de forma consistente (após execução do ponto anterior) com os seguintes requisitos adicionais de cobertura:
- ≥10 aeroportos internacionais (reais) localizados na Europa, com pelo menos 2 cidades tendo 2 aeroportos
- ≥10 aviões de ≥3 modelos distintos (reais), com um número de assentos realista; assuma que as primeiras ~10% filas são de 1a classe
- ≥5 voos por dia entre 1 de Janeiro e 31 de Julho de 2025, cobrindo todos os aeroportos e todos os aviões; garanta que para cada voo entre dois aeroportos se segue um voo no sentido oposto; garanta ainda que cada avião tem partida no aeroporto da sua chegada anterior
- ≥30.000 bilhetes vendidos até à data presente, correspondendo a ≥10.000 vendas, com todo os bilhetes de voos já realizados tendo feito check-in, e com todos os voos tendo bilhetes de primeira e segunda classe vendidos
Deve ainda garantir que todas as consultas necessárias para a realização dos pontos seguintes do projeto produzem um resultado não vazio.

O código para preenchimento da base de dados deve ser compilado num ficheiro "populate.sql", anexado ao relatório, que contém com comandos INSERT ou alternativamente comandos COPY que populam as tabelas a partir de ficheiros de texto, também eles anexados ao relatório.

## 3. Desenvolvimento de Aplicação [5 valores]

Crie um protótipo de RESTful web service para gestão de consultas por acesso programático à base de dados ‘Aviacao’ através de uma API que devolve respostas em JSON, implementando os seguintes endpoints REST:

|Endpoint|Descrição|
|--------|---------|
|/|Lista todos os aeroportos (nome e cidade).|
|/voos/\<partida>/|Lista todos os voos (número de série do avião,  hora de partida e aeroporto de chegada) que partem do aeroporto de \<partida> até 12h após o momento da consulta.|
|/voos/\<partida>/\<chegada>/|Lista os próximos três voos (número de série do avião e hora de partida) entre o aeroporto de \<partida> e o aeroporto de \<chegada> para os quais ainda há bilhetes disponíveis.|
|/compra/\<voo>/|Faz uma compra de um ou mais bilhetes para o \<voo>, populando as tabelas \<venda> e \<bilhete>. Recebe como argumentos o nif do cliente, e uma lista de pares (nome de passageiro, classe de bilhete) especificando os bilhetes a comprar.|
|/checkin/\<bilhete>/|Faz o check-in de um bilhete, atribuindo-lhe automaticamente um assento da classe correspondente.|

## 3. Vistas [2 valores]

Crie uma vista materializada que detalhe as informações mais importantes sobre os voos, combinando a informação de várias tabelas da base de dados. A vista deve ter o seguinte esquema:

 *estatisticas_voos(no_serie, hora_partida, cidade_partida, pais_partida, cidade_chegada, pais_chegada, ano, mes, dia_do_mes, dia_da_semana, passageiros_1c, passageiros_2c, vendas_1c, vendas_2c)*

em que:
- *no_serie, hora_partida*: correspondem aos atributos homónimos da tabela *voo*
- *cidade_partida, pais_partida, cidade_chegada, pais_chegada*: correspondem aos atributos *cidade* e *pais* da tabela *aeroporto*, para o aeroporto de *partida* e *chegada* do *voo*
- *ano, mes, dia_do_mes* e *dia_da_semana*: são derivados do atributo *hora_partida* da tabela *voo*
- *passageiros_1c, passageiros_2c:*: correspondem ao número total de bilhetes vendidos para o voo, de primeira e segunda classe respectivamente
- *vendas_1c, vendas_2c*: correspondem ao somatório total dos preços dos bilhetes vendidos para o voo, de primeira e segunda classe respectivamente

In [18]:
%%sql
DROP MATERIALIZED VIEW IF EXISTS estatisticas_voos;
CREATE MATERIALIZED VIEW estatisticas_voos AS
SELECT 
	v.no_serie, 
	v.hora_partida,
	a1.cidade AS cidade_partida, 
	a1.pais AS pais_partida, 
	a2.cidade AS cidade_chegada, 
	a2.pais AS pais_chegada, 
	EXTRACT(YEAR FROM v.hora_partida) AS ano, 
	EXTRACT(MONTH FROM v.hora_partida) AS mes, 
	EXTRACT(DAY FROM v.hora_partida) AS dia_do_mes, 
    EXTRACT(DOW FROM v.hora_partida) AS dia_da_semana,
	COUNT(DISTINCT b1.id) AS passageiros_1c,
	COUNT(DISTINCT b2.id) AS passageiros_2c,
	COUNT(DISTINCT s1.lugar) AS assentos_1c,
	COUNT(DISTINCT s2.lugar) AS assentos_2c,
	SUM(b1.preco) AS vendas_1c,
	SUM(b2.preco) AS vendas_2c
FROM voo v 
INNER JOIN aeroporto a1 ON a1.codigo = v.partida
INNER JOIN aeroporto a2 ON a2.codigo = v.chegada
LEFT JOIN bilhete b1 ON b1.voo_id = v.id AND b1.prim_classe
LEFT JOIN bilhete b2 ON b2.voo_id = v.id AND NOT b2.prim_classe
LEFT JOIN assento s1 ON s1.no_serie = v.no_serie AND s1.prim_classe
LEFT JOIN assento s2 ON s2.no_serie = v.no_serie AND NOT s2.prim_classe
GROUP BY 
	v.no_serie, v.hora_partida,
	a1.cidade, a1.pais,
	a2.cidade, a2.pais;

1060 rows affected.

++
||
++
++

## 5. Análise de Dados SQL e OLAP [5 valores]

Usando apenas a vista *estatisticas_voos* desenvolvida no ponto anterior, e *sem recurso a declarações WITH ou LIMIT*, apresente a consulta SQL mais sucinta para cada um dos seguintes objetivos analíticos da empresa. Pode usar agregações OLAP para os objetivos em que lhe parecer adequado.

1. Determinar a(s) rota(s) que tem/têm a maior procura para efeitos de aumentar a frequência de voos dessa(s) rota(s). Entende-se por rota um trajeto aéreo entre quaisquer duas cidades,  independentemente do sentido (e.g., voos Lisboa-Paris e Paris-Lisboa contam para a mesma rota). Considera-se como indicador da procura de uma rota o preenchimento médio dos aviões (i.e., o rácio entre o número total de passageiros e a capacidade total do avião) no último ano.

In [ ]:
%%sql
SELECT rota, racio_ocupacao
FROM (
  SELECT
    LEAST(cidade_partida, cidade_chegada) || ' - ' || GREATEST(cidade_partida, cidade_chegada) AS rota,
    ROUND(
      SUM(passageiros_1c + passageiros_2c)::numeric 
      / NULLIF(SUM(assentos_1c + assentos_2c), 0), 
      2
    ) AS racio_ocupacao,
    MAX(
      ROUND(
        SUM(passageiros_1c + passageiros_2c)::numeric 
        / NULLIF(SUM(assentos_1c + assentos_2c), 0), 
        2
      )
    ) OVER () AS max_racio
  FROM estatisticas_voos
  GROUP BY 
    LEAST(cidade_partida, cidade_chegada),
    GREATEST(cidade_partida, cidade_chegada)
) t
WHERE racio_ocupacao = max_racio
ORDER BY racio_ocupacao DESC;

2. Determinar as rotas pelas quais nos últimos 3 meses passaram todos os aviões da empresa, para efeitos de melhorar a gestão da frota.

In [11]:
%%sql
SELECT
  v.cidade_partida,
  v.cidade_chegada
FROM estatisticas_voos v
WHERE 
  (v.ano = EXTRACT(YEAR FROM NOW()) AND v.mes >= EXTRACT(MONTH FROM NOW()) - 3)
  OR
  (v.ano = EXTRACT(YEAR FROM NOW()) - 1 AND v.mes >= 12 + (2 - EXTRACT(MONTH FROM NOW())))
GROUP BY v.cidade_partida, v.cidade_chegada
HAVING COUNT(DISTINCT v.no_serie) = (SELECT COUNT(DISTINCT no_serie) FROM estatisticas_voos);

1 rows affected.

+----------------+----------------+
| cidade_partida | cidade_chegada |
+----------------+----------------+
|     Paris      |     London     |
+----------------+----------------+

3. Explorar a rentabilidade da empresa (vendas globais e por classe) nas dimensões espaço (global > pais > cidade, para a partida e chegada em simultâneo) e tempo (global > ano > mes > dia_do_mes), como apoio a um relatório executivo.

In [5]:
%%sql
WITH cidades_voo AS (
  SELECT 
    pais_partida AS pais,
    cidade_partida AS cidade,
    ano,
    mes,
    dia_do_mes,
    vendas_1c,
    vendas_2c
  FROM estatisticas_voos

  UNION ALL

  SELECT 
    pais_chegada AS pais,
    cidade_chegada AS cidade,
    ano,
    mes,
    dia_do_mes,
    vendas_1c,
    vendas_2c
  FROM estatisticas_voos
)

SELECT
  COALESCE(pais, 'TOTAL do GLOBAL') AS pais,
  COALESCE(cidade, 'TOTAL PAÍS') AS cidade,
  COALESCE(ano::text, 'TOTAL DE SEMPRE') AS ano,
  COALESCE(mes::text, 'TOTAL ANO') AS mes,
  COALESCE(dia_do_mes::text, 'TOTAL MÊS') AS dia_do_mes,
  SUM(vendas_1c) AS total_vendas_1c,
  SUM(vendas_2c) AS total_vendas_2c,
  SUM(vendas_1c + vendas_2c) AS total_vendas
FROM cidades_voo
GROUP BY ROLLUP(
  pais,
  cidade,
  ano,
  mes,
  dia_do_mes
)
ORDER BY 
  pais,
  cidade,
  ano,
  mes,
  dia_do_mes;

1496 rows affected.

+--------+--------+------+-----+------------+-----------------+-----------------+---------------+
|  pais  | cidade | ano  | mes | dia_do_mes | total_vendas_1c | total_vendas_2c |  total_vendas |
+--------+--------+------+-----+------------+-----------------+-----------------+---------------+
| France | Paris  | 2025 |  1  |     1      |   83941110.00   |   33133263.84   |  117074373.84 |
| France | Paris  | 2025 |  1  |     10     |   215795080.80  |   44115252.48   |  259910333.28 |
| France | Paris  | 2025 |  1  |     12     |   312890891.04  |   69735968.64   |  368962251.84 |
| France | Paris  | 2025 |  1  |     13     |   188422320.96  |   41118788.88   |  229541109.84 |
| France | Paris  | 2025 |  1  |     15     |   288159508.80  |   57888489.60   |  346047998.40 |
| France | Paris  | 2025 |  1  |     16     |       None      |   18687708.00   |      None     |
| France | Paris  | 2025 |  1  |     17     |   164115929.52  |   33804531.36   |  197920460.88 |
| France | Paris  | 2025 |  1  |     18     |   483468312.96  |   84399229.44   |  567867542.40 |
| France | Paris  | 2025 |  1  |     19     |   105470352.00  |   40978323.36   |  127776654.72 |
| France | Paris  | 2025 |  1  |     2      |   146197094.40  |   32332251.60   |  178529346.00 |
| France | Paris  | 2025 |  1  |     20     |   126335160.00  |   22045899.60   |  148381059.60 |
| France | Paris  | 2025 |  1  |     21     |   129391460.64  |   34279446.24   |  163670906.88 |
| France | Paris  | 2025 |  1  |     22     |   74804713.20   |   17669216.88   |  92473930.08  |
| France | Paris  | 2025 |  1  |     25     |   152789212.08  |   32688108.00   |  185477320.08 |
| France | Paris  | 2025 |  1  |     26     |   189896387.04  |   46033804.08   |  235930191.12 |
| France | Paris  | 2025 |  1  |     27     |       None      |   10632173.76   |      None     |
| France | Paris  | 2025 |  1  |     28     |   122797359.36  |   24397850.88   |  140888198.88 |
| France | Paris  | 2025 |  1  |     29     |   180931345.92  |   43891904.16   |  224823250.08 |
| France | Paris  | 2025 |  1  |     3      |   345764553.12  |   66166449.12   |  411931002.24 |
| France | Paris  | 2025 |  1  |     30     |   25753431.60   |   22520064.24   |  30101392.80  |
| France | Paris  | 2025 |  1  |     31     |   117394423.20  |   26305601.76   |  133174042.56 |
| France | Paris  | 2025 |  1  |     4      |   87257214.72   |   36317230.56   |  99251100.00  |
| France | Paris  | 2025 |  1  |     5      |       None      |   25649938.08   |      None     |
| France | Paris  | 2025 |  1  |     6      |   55620864.00   |   12967081.92   |  68587945.92  |
| France | Paris  | 2025 |  1  |     8      |   187658208.00  |   46159113.60   |  233817321.60 |
| France | Paris  | 2025 |  1  | TOTAL Mês  |  3784854933.36  |   923917690.08  | 4562137733.04 |
| France | Paris  | 2025 |  2  |     1      |   194611060.80  |   44064951.84   |  238676012.64 |
| France | Paris  | 2025 |  2  |     11     |   146448790.56  |   31601549.52   |  178050340.08 |
| France | Paris  | 2025 |  2  |     12     |   206297084.16  |   50547316.32   |  249526514.88 |
| France | Paris  | 2025 |  2  |     13     |   120401873.28  |   42548088.96   |  145914013.44 |
| France | Paris  | 2025 |  2  |     14     |   494473928.40  |   116733231.36  |  611207159.76 |
| France | Paris  | 2025 |  2  |     15     |   213545891.52  |   42981756.48   |  256527648.00 |
| France | Paris  | 2025 |  2  |     16     |   247005532.80  |   56517158.88   |  303522691.68 |
| France | Paris  | 2025 |  2  |     17     |   71256163.68   |   22804441.92   |  94060605.60  |
| France | Paris  | 2025 |  2  |     18     |   36164288.16   |    4598305.92   |  40762594.08  |
| France | Paris  | 2025 |  2  |     19     |   48501838.80   |   10741831.20   |  59243670.00  |
| France | Paris  | 2025 |  2  |     2      |   262202088.96  |   77824022.40   |  340026111.36 |
| France | Paris  | 2025 |  2  |     20     |   134385189.12  |   20135662.56   |  154520851.68 |
| France | Paris  | 2025 |  2  |     21     |   10935518.40   |    3847100.40   |  14782618.80  |
| France | Paris  | 2025 |  2  |     22     |   218833655.04  |   54251533.44   |  273085188.48 |
| France | Paris  | 2025 |  2  |     23     |   371364134.40  |   66543552.00   |  437907686.40 |
| France | Paris  | 2025 |  2  |     24     |   100161792.00  |   17932525.20   |  118094317.20 |
| France | Paris  | 2025 |  2  |     25     |   449158536.00  |   100582336.80  |  544250325.60 |
| France | Paris  | 2025 |  2  |     26     |   217379242.08  |   38062989.36   |  255442231.44 |
| France | Paris  | 2025 |  2  |     27     |   135202129.92  |   33366453.12   |  155859762.24 |
| France | Paris  | 2025 |  2  |     28     |   119017491.84  |   43069272.48   |  145286650.08 |
| France | Paris  | 2025 |  2  |     4      |   117566167.68  |   19480443.84   |  137046611.52 |
| France | Paris  | 2025 |  2  |     5      |   34850874.24   |   29864315.52   |  48960868.32  |
| France | Paris  | 2025 |  2  |     6      |   334608618.24  |   51943563.36   |  386552181.60 |
| France | Paris  | 2025 |  2  |     7      |   222894023.04  |   40427843.04   |  263321866.08 |
| France | Paris  | 2025 |  2  |     8      |   133236502.56  |   31067971.20   |  164304473.76 |
| France | Paris  | 2025 |  2  |     9      |   147352870.08  |   24843517.92   |  172196388.00 |
| France | Paris  | 2025 |  2  | TOTAL Mês  |  4787855285.76  |  1076381735.04  | 5789129382.72 |
| France | Paris  | 2025 |  3  |     1      |   96570468.00   |   26814985.20   |  123385453.20 |
| France | Paris  | 2025 |  3  |     10     |       None      |    7936272.00   |      None     |
| France | Paris  | 2025 |  3  |     11     |   20020608.00   |    3516490.80   |  23537098.80  |
| France | Paris  | 2025 |  3  |     12     |   382707112.32  |   78258117.60   |  460965229.92 |
| France | Paris  | 2025 |  3  |     13     |   141096234.24  |   28541784.96   |  169638019.20 |
| France | Paris  | 2025 |  3  |     14     |   353533248.00  |   61730334.72   |  415263582.72 |
| France | Paris  | 2025 |  3  |     15     |   109501778.88  |   31542207.84   |  141043986.72 |
| France | Paris  | 2025 |  3  |     16     |   30360225.60   |    9158572.80   |  39518798.40  |
| France | Paris  | 2025 |  3  |     17     |   147738772.80  |   42356887.20   |  190095660.00 |
| France | Paris  | 2025 |  3  |     18     |   126867708.00  |   23446681.20   |  150314389.20 |
| France | Paris  | 2025 |  3  |     19     |   138769394.40  |   25619349.60   |  164388744.00 |
| France | Paris  | 2025 |  3  |     2      |       None      |    6114214.80   |      None     |
| France | Paris  | 2025 |  3  |     20     |   64921409.28   |   12197034.72   |  77118444.00  |
| France | Paris  | 2025 |  3  |     22     |   37687703.04   |    7836323.04   |  45524026.08  |
| France | Paris  | 2025 |  3  |     23     |   273297700.08  |   61584775.92   |  334882476.00 |
| France | Paris  | 2025 |  3  |     24     |   235179069.12  |   62298867.60   |  297477936.72 |
| France | Paris  | 2025 |  3  |     25     |       None      |    8838666.72   |      None     |
| France | Paris  | 2025 |  3  |     26     |   70382183.04   |   22339549.44   |  92721732.48  |
| France | Paris  | 2025 |  3  |     27     |   315114209.28  |   74930244.48   |  390044453.76 |
| France | Paris  | 2025 |  3  |     28     |   539378258.40  |   119575416.24  |  658953674.64 |
| France | Paris  | 2025 |  3  |     29     |   174631092.48  |   43268794.56   |  216048816.00 |
| France | Paris  | 2025 |  3  |     3      |   263758496.40  |   53544585.60   |  317303082.00 |
| France | Paris  | 2025 |  3  |     30     |   841590097.92  |   153060710.40  |  994650808.32 |
| France | Paris  | 2025 |  3  |     31     |   246578116.32  |   52998852.96   |  299576969.28 |
| France | Paris  | 2025 |  3  |     5      |   237810755.52  |   130203908.64  |  338289419.52 |
| France | Paris  | 2025 |  3  |     6      |   208630275.84  |   52056362.88   |  260686638.72 |
| France | Paris  | 2025 |  3  |     7      |   163669708.80  |   53143827.12   |  211970977.92 |
| France | Paris  | 2025 |  3  |     9      |   158581219.68  |   33783796.80   |  192365016.48 |
| France | Paris  | 2025 |  3  | TOTAL Mês  |  5378375845.44  |  1286697615.84  | 6605765434.08 |
| France | Paris  | 2025 |  4  |     1      |   67095993.60   |   12510244.80   |  79606238.40  |
| France | Paris  | 2025 |  4  |     10     |   414855155.52  |   82301618.88   |  497156774.40 |
| France | Paris  | 2025 |  4  |     11     |   29854310.40   |   37773387.36   |  36278530.56  |
| France | Paris  | 2025 |  4  |     13     |   49889260.80   |   12321720.00   |  62210980.80  |
| France | Paris  | 2025 |  4  |     14     |   200853528.48  |   45394682.40   |  238067458.56 |
| France | Paris  | 2025 |  4  |     16     |   68469570.00   |   16390857.60   |  84860427.60  |
| France | Paris  | 2025 |  4  |     17     |   28931535.36   |    7863410.88   |  36794946.24  |
| France | Paris  | 2025 |  4  |     18     |   191136563.28  |   41429062.08   |  232565625.36 |
| France | Paris  | 2025 |  4  |     19     |   397385220.96  |   83371458.24   |  479702237.76 |
| France | Paris  | 2025 |  4  |     2      |   43146259.20   |   16594655.04   |  53112780.00  |
| France | Paris  | 2025 |  4  |     20     |   143964737.28  |   51553588.32   |  195518325.60 |
| France | Paris  | 2025 |  4  |     21     |   45610076.16   |    6772014.72   |  52382090.88  |
| France | Paris  | 2025 |  4  |     22     |   139135898.88  |   33191389.44   |  172327288.32 |
| France | Paris  | 2025 |  4  |     23     |       None      |   12366843.84   |      None     |
| France | Paris  | 2025 |  4  |     25     |   15673694.40   |   15125083.20   |  18493675.20  |
| France | Paris  | 2025 |  4  |     26     |   30392604.00   |    8249040.00   |  38641644.00  |
| France | Paris  | 2025 |  4  |     27     |   154991191.68  |   40173138.72   |  183212958.24 |
| France | Paris  | 2025 |  4  |     28     |   238536560.16  |   59238025.92   |  290615627.52 |
+--------+--------+------+-----+------------+-----------------+-----------------+---------------+
Truncated to displaylimit of 100.

4. Descobrir se há algum padrão ao longo da semana no rácio entre passageiros de primeira e segunda classe, com drill down na dimensão espaço (global > pais > cidade), que justifique uma abordagem mais flexível à divisão das classes.

In [12]:
%%sql
SELECT 
    COALESCE(pais_partida, 'TOTAL GLOBAL') AS pais,
    COALESCE(cidade_partida, 'TOTAL PAÍS') AS cidade,
    COALESCE(CAST(dia_da_semana AS TEXT), 'TOTAL DIA') AS dia_semana,

    SUM(passageiros_1c) AS total_primeira,
    SUM(passageiros_2c) AS total_segunda,

    CASE 
        WHEN SUM(passageiros_2c) = 0 THEN NULL
        ELSE ROUND(SUM(passageiros_1c)::NUMERIC / SUM(passageiros_2c), 2)
    END AS ratio_primeira_segunda

FROM estatisticas_voos

GROUP BY ROLLUP(pais_partida, cidade_partida, dia_da_semana)

ORDER BY 
    GROUPING(pais_partida), 
    pais_partida, 
    GROUPING(cidade_partida), 
    cidade_partida, 
    GROUPING(dia_da_semana), 
    dia_da_semana;

89 rows affected.

+----------------+------------+------------+----------------+---------------+------------------------+
|      pais      |   cidade   | dia_semana | total_primeira | total_segunda | ratio_primeira_segunda |
+----------------+------------+------------+----------------+---------------+------------------------+
|     France     |   Paris    |     0      |       61       |      726      |          0.08          |
|     France     |   Paris    |     1      |       62       |      501      |          0.12          |
|     France     |   Paris    |     2      |       42       |      405      |          0.10          |
|     France     |   Paris    |     3      |       50       |      488      |          0.10          |
|     France     |   Paris    |     4      |       37       |      537      |          0.07          |
|     France     |   Paris    |     5      |       61       |      742      |          0.08          |
|     France     |   Paris    |     6      |       55       |      669      |          0.08          |
|     France     |   Paris    | TOTAL DIA  |      368       |      4068     |          0.09          |
|     France     | TOTAL PAÍS | TOTAL DIA  |      368       |      4068     |          0.09          |
|    Germany     | Frankfurt  |     0      |       24       |      199      |          0.12          |
|    Germany     | Frankfurt  |     1      |       22       |      232      |          0.09          |
|    Germany     | Frankfurt  |     2      |       33       |      354      |          0.09          |
|    Germany     | Frankfurt  |     3      |       14       |      136      |          0.10          |
|    Germany     | Frankfurt  |     4      |       21       |      258      |          0.08          |
|    Germany     | Frankfurt  |     5      |       15       |      135      |          0.11          |
|    Germany     | Frankfurt  |     6      |       29       |      262      |          0.11          |
|    Germany     | Frankfurt  | TOTAL DIA  |      158       |      1576     |          0.10          |
|    Germany     | TOTAL PAÍS | TOTAL DIA  |      158       |      1576     |          0.10          |
|     Italy      |   Milan    |     0      |       29       |      240      |          0.12          |
|     Italy      |   Milan    |     1      |       35       |      348      |          0.10          |
|     Italy      |   Milan    |     2      |       14       |      161      |          0.09          |
|     Italy      |   Milan    |     3      |       35       |      405      |          0.09          |
|     Italy      |   Milan    |     4      |       46       |      339      |          0.14          |
|     Italy      |   Milan    |     5      |       25       |      285      |          0.09          |
|     Italy      |   Milan    |     6      |       9        |      136      |          0.07          |
|     Italy      |   Milan    | TOTAL DIA  |      193       |      1914     |          0.10          |
|     Italy      |    Rome    |     0      |       34       |      314      |          0.11          |
|     Italy      |    Rome    |     1      |       8        |      147      |          0.05          |
|     Italy      |    Rome    |     2      |       21       |      275      |          0.08          |
|     Italy      |    Rome    |     3      |       22       |      221      |          0.10          |
|     Italy      |    Rome    |     4      |       46       |      420      |          0.11          |
|     Italy      |    Rome    |     5      |       23       |      188      |          0.12          |
|     Italy      |    Rome    |     6      |       29       |      244      |          0.12          |
|     Italy      |    Rome    | TOTAL DIA  |      183       |      1809     |          0.10          |
|     Italy      | TOTAL PAÍS | TOTAL DIA  |      376       |      3723     |          0.10          |
|  Netherlands   | Amsterdam  |     0      |       22       |      272      |          0.08          |
|  Netherlands   | Amsterdam  |     1      |       20       |      205      |          0.10          |
|  Netherlands   | Amsterdam  |     2      |       44       |      293      |          0.15          |
|  Netherlands   | Amsterdam  |     3      |       25       |      335      |          0.07          |
|  Netherlands   | Amsterdam  |     4      |       18       |      189      |          0.10          |
|  Netherlands   | Amsterdam  |     5      |       32       |      356      |          0.09          |
|  Netherlands   | Amsterdam  |     6      |       23       |      265      |          0.09          |
|  Netherlands   | Amsterdam  | TOTAL DIA  |      184       |      1915     |          0.10          |
|  Netherlands   | TOTAL PAÍS | TOTAL DIA  |      184       |      1915     |          0.10          |
|     Spain      | Barcelona  |     0      |       11       |      185      |          0.06          |
|     Spain      | Barcelona  |     1      |       33       |      260      |          0.13          |
|     Spain      | Barcelona  |     2      |       19       |      215      |          0.09          |
|     Spain      | Barcelona  |     3      |       24       |      261      |          0.09          |
|     Spain      | Barcelona  |     4      |       25       |      448      |          0.06          |
|     Spain      | Barcelona  |     5      |       38       |      366      |          0.10          |
|     Spain      | Barcelona  |     6      |       19       |      234      |          0.08          |
|     Spain      | Barcelona  | TOTAL DIA  |      169       |      1969     |          0.09          |
|     Spain      |   Madrid   |     0      |       8        |       85      |          0.09          |
|     Spain      |   Madrid   |     1      |       42       |      469      |          0.09          |
|     Spain      |   Madrid   |     2      |       42       |      376      |          0.11          |
|     Spain      |   Madrid   |     3      |       44       |      374      |          0.12          |
|     Spain      |   Madrid   |     4      |       16       |      166      |          0.10          |
|     Spain      |   Madrid   |     5      |       40       |      344      |          0.12          |
|     Spain      |   Madrid   |     6      |       34       |      350      |          0.10          |
|     Spain      |   Madrid   | TOTAL DIA  |      226       |      2164     |          0.10          |
|     Spain      | TOTAL PAÍS | TOTAL DIA  |      395       |      4133     |          0.10          |
|  Switzerland   |   Zürich   |     0      |       21       |      271      |          0.08          |
|  Switzerland   |   Zürich   |     1      |       13       |      288      |          0.05          |
|  Switzerland   |   Zürich   |     2      |       27       |      258      |          0.10          |
|  Switzerland   |   Zürich   |     3      |       16       |      157      |          0.10          |
|  Switzerland   |   Zürich   |     4      |       15       |      231      |          0.06          |
|  Switzerland   |   Zürich   |     5      |       7        |       85      |          0.08          |
|  Switzerland   |   Zürich   |     6      |       37       |      408      |          0.09          |
|  Switzerland   |   Zürich   | TOTAL DIA  |      136       |      1698     |          0.08          |
|  Switzerland   | TOTAL PAÍS | TOTAL DIA  |      136       |      1698     |          0.08          |
|     Turkey     |  Istanbul  |     0      |       37       |      398      |          0.09          |
|     Turkey     |  Istanbul  |     1      |       36       |      222      |          0.16          |
|     Turkey     |  Istanbul  |     2      |       16       |      255      |          0.06          |
|     Turkey     |  Istanbul  |     3      |       23       |      226      |          0.10          |
|     Turkey     |  Istanbul  |     4      |       29       |      390      |          0.07          |
|     Turkey     |  Istanbul  |     5      |       28       |      182      |          0.15          |
|     Turkey     |  Istanbul  |     6      |       28       |      293      |          0.10          |
|     Turkey     |  Istanbul  | TOTAL DIA  |      197       |      1966     |          0.10          |
|     Turkey     | TOTAL PAÍS | TOTAL DIA  |      197       |      1966     |          0.10          |
| United Kingdom |   London   |     0      |       55       |      590      |          0.09          |
| United Kingdom |   London   |     1      |       42       |      455      |          0.09          |
| United Kingdom |   London   |     2      |       66       |      654      |          0.10          |
| United Kingdom |   London   |     3      |       41       |      601      |          0.07          |
| United Kingdom |   London   |     4      |       44       |      467      |          0.09          |
| United Kingdom |   London   |     5      |       47       |      459      |          0.10          |
| United Kingdom |   London   |     6      |       54       |      444      |          0.12          |
| United Kingdom |   London   | TOTAL DIA  |      349       |      3670     |          0.10          |
| United Kingdom | TOTAL PAÍS | TOTAL DIA  |      349       |      3670     |          0.10          |
|  TOTAL GLOBAL  | TOTAL PAÍS | TOTAL DIA  |      2163      |     22749     |          0.10          |
+----------------+------------+------------+----------------+---------------+------------------------+

## 6. Índices [3 valores]

É expectável que seja necessário executar consultas semelhantes ao colectivo das consultas do ponto anterior diversas vezes ao longo do tempo, e pretendemos otimizar o desempenho da vista estatisticas_voos para esse efeito. Crie sobre a vista o(s) índice(s) que achar mais indicados para fazer essa otimização, justificando a sua escolha com argumentos teóricos e com demonstração prática do ganho em eficiência do índice por meio do comando EXPLAIN ANALYSE. Deve procurar uma otimização coletiva das consultas, evitando criar índices excessivos, particularmente se estes trazem apenas ganhos incrementais a uma das consultas.

In [ ]:
%%sql
-- Índice 1: Para otimizar consultas que filtram por ano e mês (Consultas 5.1 e 5.2)
CREATE INDEX idx_ev_ano_mes ON estatisticas_voos (ano, mes);

-- Índice 2: Para otimizar agregações por rota (cidades de partida/chegada) e ano (consulta 5.1)
CREATE INDEX idx_ev_rota_ano ON estatisticas_voos (
    LEAST(cidade_partida, cidade_chegada),
    GREATEST(cidade_partida, cidade_chegada),
    ano
);

-- Índice 3: Para otimizar ROLLUP multi-dimensional (consultas 5.3 e 5.4)
CREATE INDEX idx_ev_olap ON estatisticas_voos (
    pais_partida,
    cidade_partida,
    pais_chegada,
    cidade_chegada,
    ano,
    mes,
    dia_do_mes,
    dia_da_semana
);

Justificação teórica e prática (sumarizando observações com EXPLAIN ANALYSE)

Base Teórica (fundamentada pelos apontamentos):

1. Seletividade e filtragem (Pg. 12, 15-16):

    Índices em colunas de alta seletividade (ano, mes) reduzem drasticamente o espaço de pesquisa.

    Consultas com operações de range (como intervalos temporais) beneficiam de índices B-tree.

2. Agregações e operações OLAP (Pg. 19, 30, 33):

    Índices em colunas de agrupamento (GROUP BY, ROLLUP) permitem index-only scans.

    A ordem das colunas no índice deve refletir a hierarquia das dimensões analíticas.

3. Chaves compostas e ordenação (Pg. 27-29):

    Índices compostos aceleram consultas com múltiplos critérios.

    A ordem das colunas no índice é crítica para consultas com operações de range e igualdade.

4. Custos vs. benefícios (Pg. 9, 12, 18):

    Evitamos índices redundantes priorizando colunas usadas em múltiplas consultas.

    Índices muito largos só são justificáveis se beneficiarem várias operações OLAP.


Demontração prática (via EXPLAIN ANALYSE):

// fazer tabela com os ganhos observados


Conclusão:
Os 3 índices criados oferecem:
    cobertura equilibrada: Otimizam todas as consultas-alvo.
    Eficiência em operações-chave: Filtragem temporal, agreagação por rota e operações OLAP.
    Baixo overhead: Evitam redundância (e.g., não criamos índices separados dia_do_mes/dia_da_semana).